/* styles.css */
@keyframes fadeIn {
    from {
      background-color: red;
      opacity: 1;
    }
    to {
      background-color: red;
      opacity: 0.5;
    }
  }
  
  .fade-in {
    animation: fadeIn 3s ease-in-out;
    animation-play-state: running;
  }
  .paused {
    animation-play-state: paused;
  }
  